# Code Owners - These users will be automatically requested for review
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @adamd

# Manifesto content requires review
/public/signatures.csv @adamd
/PRINCIPLES.md @adamd
/SIGNATORIES.md @adamd
/CONTRIBUTING.md @adamd
/CODE_OF_CONDUCT.md @adamd
